<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>歷史資料</title>
    <style>
        #tab-1:target,
        #tab-2:target,
        #tab-3:target {}

        #tab-1:target~#tab>ul li a[href$="#tab-1"],
        #tab-2:target~#tab>ul li a[href$="#tab-2"],
        #tab-3:target~#tab>ul li a[href$="#tab-3"] {}

        #tab-1:target~#tab>div.tab-content-1,
        #tab-2:target~#tab>div.tab-content-2,
        #tab-3:target~#tab>div.tab-content-3 {}

        #tab {
            width: 50%;
            background: #1caa5d;
            border: solid 1px #1caa5d;
        }

        /* 頁籤ul */
        #tab>ul {
            overflow: hidden;
            margin: 0;
            padding: 10px 20px 0 20px;
        }

        #tab>ul>li {
            list-style-type: none;
        }

        #tab>ul>li>a {
            text-decoration: none;
            font-size: 13px;
            color: #333;
            float: left;
            padding: 10px;
            margin-left: 5px;
        }

        #tab>div {
            clear: both;
            padding: 0 15px;
            height: 0;
            overflow: hidden;
            visibility: hidden;
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            
        }


        span:target~#tab>ul li:first-child a {
            background: #1caa5d;
        }

        span:target~#tab>div:first-of-type {
            visibility: hidden;
            height: 0;
            padding: 0 15px;
        }

        span~#tab>ul li:first-child a,
        #tab-1:target~#tab>ul li a[href$="#tab-1"],
        #tab-2:target~#tab>ul li a[href$="#tab-2"],
        #tab-3:target~#tab>ul li a[href$="#tab-3"]{
            background: #fff;
        }

        span~#tab>div:first-of-type,
        #tab-1:target~#tab>div.tab-content-1,
        #tab-2:target~#tab>div.tab-content-2,
        #tab-3:target~#tab>div.tab-content-3 {
            visibility: visible;
            height: 300px;
            background: #fff;
        }
        span {
            display: none;
        }
    </style>
</head>

<body onload="loadchart()">
    <span id="tab-1">1</span>
    <span id="tab-2">2</span>
    <span id="tab-3">3</span>
    <div id="tab">
        <ul>
            <li><a href="#tab-1">歷史資料:小時</a></li>
            <li><a href="#tab-2">歷史資料:日</a></li>
            <li><a href="#tab-3">歷史資料:一刻鐘</a></li>
        </ul>
        <div class="tab-content-1">
            <canvas id="myChartLine">
        </div>
        <div class="tab-content-2">
            <canvas id="myChartLine2">
        </div>
        <div class="tab-content-3">
            <canvas id="myChartLine3">
        </div>
        
       
    </div> 
    <input type="button" onclick="history.go(-1)" value="回到上一頁"></input>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.js"
        integrity="sha512-uap0bTaa/bPjLtLVuiWS+qak4SJrOPcdfVzUdrrE7LgvtMlkV6DeiBH7Rgt7B+74M3crOr3QdTX3gCTMMRVzZA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        const AVG_T = []
        const AVG_H = []
        const AVG_Time = []
        axios.get('https://therometer.onrender.com/api/datas/hour')
            .then((res) => {
                const data = res.data
                data.forEach(element => {
                    AVG_T.push(element.temperature_avg)
                    AVG_H.push(element.humidity_avg)
                    let time = 0;
                    if (typeof (element.latest_timestamp) == "string") {
                        time = new Date(Number(element.latest_timestamp)).getHours() + ":" + new Date(Number(element.latest_timestamp)).getMinutes()

                    } else {
                        time = new Date(element.latest_timestamp).getHours() + ":" + new Date(element.latest_timestamp).getMinutes()
                    }

                    AVG_Time.push(time)
                })
            }).catch((err) => {
                console.log(err)
            });
        var ctxLine = document.getElementById("myChartLine")
        var LineChartData = {
            type: 'line',
            data: {
                labels: AVG_Time,
                datasets: [{
                    label: ['平均溫度'],
                    data: AVG_T,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                }, {
                    label: '平均濕度',
                    data: AVG_H,
                }]
            },
        }

        function loadchart() {
            var myChart = new Chart(ctxLine, LineChartData);
            // myChart.update();
        }
    </script>
    <script>
        const AVG_TD = []
        const AVG_HD = []
        const AVG_TimeD = []
        axios.get('https://therometer.onrender.com/api/datas/day')
            .then((res) => {
                const data = res.data
                    .forEach(element => {
                        console.log(element.latest_timestamp)
                        AVG_TD.push(element.temperature_avg)
                        AVG_HD.push(element.humidity_avg)
                        const TimeD = new Date(element.latest_timestamp).getMonth() + "月" + new Date(element.latest_timestamp).getDay() + "日"
                        AVG_TimeD.push(TimeD)
                    });
            }).catch((err) => {
                console.log(err)
            });

        var ctxLine2 = document.getElementById("myChartLine2")
        var LineChartData2 = {
            type: 'line',
            data: {
                labels: AVG_TimeD,
                datasets: [{

                    label: '平均溫度',
                    data: AVG_TD,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                }, {
                    label: '平均濕度',
                    data: AVG_HD,
                }]
            },
        }
        var myChart2 = new Chart(ctxLine2, LineChartData2);
        // myChart2.update();
    </script>
    <script>
        const AVG_QT = []
        const AVG_QH = []
        const AVG_TimeQ = []
        axios.get('https://therometer.onrender.com/api/datas/quarter')
            .then((res) => {
                const data = res.data
                    .forEach(element => {
                        console.log(element.latest_timestamp)
                        AVG_QT.push(element.temperature_avg)
                        AVG_QH.push(element.humidity_avg)
                        const TimeQ = new Date(element.latest_timestamp).getHours() + ":" + new Date(element.latest_timestamp).getMinutes() + ""
                        AVG_TimeQ.push(TimeQ)
                    });
            }).catch((err) => {
                console.log(err)
            });

        var ctxLine3 = document.getElementById("myChartLine3")
        var LineChartData3 = {
            type: 'line',
            data: {
                labels: AVG_TimeQ,
                datasets: [{

                    label: '平均溫度',
                    data: AVG_QT,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                }, {
                    label: '平均濕度',
                    data: AVG_QH,
                }]
            },
        }
        var myChart3 = new Chart(ctxLine3, LineChartData3);
        // myChart2.update();
    </script>
    
</body>

</html>